@media screen and (max-width: 1850px) {
  .nav-list__link {
    font-size: 18px;
  }
  .header-hero__title {
    font-size: 90px;
  }
  .liscence {
    right: 8%;
  }
}
@media screen and (max-width: 1800px) {
  .liscence {
    right: 5%;
  }
}
@media screen and (max-width: 1765px) {
  .header-nav {
    padding-left: 80px;
    padding-right: 80px;
  }
  .container {
    margin-right: 80px;
    margin-left: 80px;
  }
  .header-hero__text {
    width: auto;
  }
  .flex-container {
    justify-content: space-around;
  }
  .contact-form__check-box {
    right: 0;
    bottom: 10%;
    left: 5%;
  }
  .contact-form__data-title {
    font-size: 18px;
  }
  .liscence {
    right: 7%;
    bottom: 33%;
  }
  .contact-form__request {
    width: 300px;
  }
  .contacts-form__status-message {
    bottom: -30px;
  }
}
@media screen and (max-width: 1650px) {
  .nav-list {
    justify-content: space-around;
  }
  .nav-list__item {
    margin-left: 30px;
  }
  .nav-list__item:nth-child(2) {
    margin-left: 40px;
  }
  .nav-list__link {
    font-size: 17px;
  }
  .header-hero__title {
    font-size: 70px;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 36px;
  }
  footer {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .flex-container {
    height: 425px;
  }
  .footer-car {
    width: 500px;
  }
}
@media screen and (max-width: 1485px) {
  .header-nav {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1380px) {
  .header {
    padding-top: 30px;
  }
  .nav-list__link {
    font-size: 15px;
  }
  .nav-list__item {
    margin-left: 15px;
  }
  .header-hero__about {
    margin-top: 150px;
    width: 500px;
  }
  .header-hero__title {
    font-size: 50px;
  }
  .header-hero__text {
    font-size: 18px;
  }

  .hero-img {
    width: 560px;
    height: 430px;
  }
  .container {
    margin-right: 40px;
    margin-left: 40px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 28px;
  }
  .benefits-text {
    font-size: 18px;
  }
  .financing-about__list {
    margin-left: 0;
  }
  .financing-list {
    margin: 50px 20px;
  }
  .financing-subtitle {
    font-size: 25px;
  }
  .financing-about__title {
    font-size: 28px;
    line-height: 1.6;
  }
  .slick-next:before,
  .slick-prev:before {
    position: absolute;
    top: 20px;
  }
  .financing-about__text {
    font-size: 18px;
    line-height: 1.6;
  }
  .financing-about__item {
    width: 300px;
  }
  .financing-about__item p {
    font-size: 16px;
  }
  .billing-subtitle__text {
    font-size: 25px;
  }
  .billing-item {
    font-size: 18px;
  }
  .cooperation-text {
    font-size: 22px;
    width: 100%;
  }
  .title-form {
    font-size: 28px;
  }
  .footer-car {
    position: absolute;
    top: 0;

    width: 600px;
    opacity: 0.6;
  }
  .liscence {
    bottom: 5%;
    right: 3%;
  }
  .contact-form__request {
    font-size: 20px;
  }
  .contact-form__request::placeholder {
    font-size: 20px;
  }
  .contact-form__data-title {
    font-size: 15px;
  }
  .contacts-form__submit-btn {
    font-size: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .nav-item__logo img {
    width: 180px;
  }
  .benefits,
  .financing,
  .billing,
  .cooperation {
    padding: 70px 0;
  }
}
@media screen and (max-width: 1080px) {
  .nav-list__link {
    font-size: 13px;
  }
  .nav-list {
    justify-content: space-between;
  }
  .header-hero__about {
    margin-top: 100px;
  }
  .hero-img {
    width: 420px;
    height: 320px;
  }
  .hero-statistics {
    width: 200px;
  }
}
@media screen and (min-width: 990px) {
  .burger-menu_button {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 20px;
    background: var(--bg-green-color);
    width: 100%;
  }
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-list__item {
    display: none;
  }
  .header-hero__about {
    position: absolute;
    z-index: 1;
  }
  .hero-images {
    margin-top: 100px;
    position: absolute;
    right: 50px;
    top: 0;
    z-index: 0;
  }
  .header-hero {
    height: 400px;
  }
  .header-hero__title {
    font-size: 36px;
  }
  .header-hero__text {
    font-size: 15px;
  }
  .title {
    font-size: 34px;
  }
  .subtitle {
    margin-top: 15px;
    font-size: 25px;
  }
  .benefits-img {
    width: 70px;
  }
  .benefits-text {
    font-size: 15px;
  }
  .financing-subtitle {
    font-size: 20px;
  }
  .financing-about__title {
    font-size: 22px;
  }
  .financing-about__line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .financing-about__item img {
    width: 150px;
  }
  .financing-about__text {
    font-size: 15px;
  }
  .financing-about__item p {
    font-size: 15px;
  }
  .billing-subtitle__text {
    font-size: 22px;
  }
  .billing-item {
    margin: 0 10px;
  }
  .billing-text {
    font-size: 15px;
  }
  .cooperation-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 880px) {
  .hero-images {
    opacity: 0.5;
  }
  .benefits-list {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .benefits-item {
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }
  .benefits-item:nth-child(even) {
    margin-top: 0;
  }
  .financing-list {
    justify-content: center;
    flex-wrap: wrap;
  }
  .financing-about {
    margin-top: 0;
    text-align: center;
  }
  .financing-about__line {
    width: 100%;
  }
  .billing-list {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .billing-item {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .flex-container {
    margin: 0;
    justify-content: center;
  }
  .liscence {
    bottom: 30%;
    right: 7%;
  }
}
@media screen and (max-width: 760px) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }
  .container {
    margin: 0 20px;
  }
  footer {
    padding-top: 30px;
    padding-bottom: 100px;
    height: 750px;
  }
  .footer-car {
    width: 90%;
    margin: 0;
    top: 60%;
    opacity: 0.3;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .contact-form__request {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
  }
  .contact-form__mandatory {
    top: 12%;
    left: 24%;
    font-size: 12px;
    margin-top: 0;
  }
  .contacts-form__submit-btn {
    position: initial;
    text-align: center;
    margin-top: 90px;
  }
  .contact-form__check-box {
    bottom: 21%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin-top: 0;
  }
  .contact-form__error {
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin-left: 0;
    margin-top: 12px;
  }
  .contact-form__data-title {
    font-size: 14px;
  }
  .contacts-form__status-message {
    bottom: 20%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
  }
  .liscence {
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    text-align: center;
    width: 300px;
  }
  .liscence-text {
    text-align: center;
  }
}
@media screen and (max-width: 525px) {
  .header-hero__about {
    top: 140px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
  .hero-images {
    opacity: 0.2;
    width: 400px;
  }
  .hero-statistics {
    bottom: -60px;
    right: 0;
  }
  .benefits,
  .financing,
  .billing,
  .cooperation {
    padding: 30px 0;
  }
  .benefits-item {
    margin-bottom: 20px;
  }
  .benefits-text {
    margin-top: 10px;
  }
  .billing-list {
    margin-top: 30px;
  }
  .billing-text {
    margin-top: 20px;
  }
  .cooperation-text {
    margin-top: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 440px) {
  .header-hero__about {
    width: 350px;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 20px;
  }
  .benefits-list {
    margin-top: 0;
  }
  .benefits-img {
    width: 50px;
  }
  .billing-subtitle__text {
    font-size: 18px;
  }
  .billing-item img {
    width: 50px;
  }
  .cooperation-text {
    font-size: 15px;
    line-height: 1.6;
  }
  .contact-form__request,
  .contact-form__request::placeholder {
    font-size: 18px;
  }
  .contacts-form__submit-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding-bottom: 20px;
  }
  .header-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-hero__about {
    width: 300px;
  }
  .hero-statistics {
    width: 150px;
    bottom: -50px;
  }
  .header-hero__title {
    font-size: 34px;
  }
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 18px;
  }
  .benefits,
  .financing,
  .billing,
  .cooperation {
    padding: 20px 0;
  }
  .benefits-text {
    margin-top: 0;
  }
  .billing-text {
    margin-top: 0;
  }
  .contact-form__check-box {
    width: 260px;
  }
  .contact-form__data-title {
    font-size: 12px;
  }
  .politics a {
    font-size: 15px;
  }
}
